.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 1em;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 2em 1em;
  border: 1px solid #ccc;
  border-radius: .5em;
  background-color: #F5F5F5;
}

.heading {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  font-size: 1.4rem;
  border-radius: .5em;
  color: #000;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.boxes-list {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: .75em;
}

.roll-button {
  padding: .8em 1.5em;
  font-family: 'Inter', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-radius: .5em;
  border: none;
  color: #fff;
  background-color: #5035FF;
  outline: 0;
  cursor: pointer;
}

.roll-button:active {
  color: #fff;
  background-color: lightpink;
}